@model ServiceSystemNRDCL.Models.Deposit;

@{
    ViewData["Title"] = "Index";
    IEnumerable<Deposit> DepositList = ViewData["DepositList"] as IEnumerable<Deposit>;
    int SerialNo = 1;
    int DepositID = Model == null ? 0 : Model.DepositID;
    var isHidden = User.IsInRole("Admin") ? "" : "hidden";
    var Id = User.IsInRole("Admin") ? "Table" : "";
}

<div class="jumbotron text-center bg-white">
    <div class="container pt-4">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <div class="card shadow-lg">
                    <div class="card-header">
                        <div class="card-group">
                            <div class="col-md-6 text-left"><h4>Deposit List</h4></div>
                        </div>
                    </div>
                    <div class="card-body">
                        @if (ViewBag.Status == true)
                        {
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <strong>@ViewBag.Message Advance Successfully!</strong><br />
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        }
                        <form method="post" asp-action="Index" asp-controller="Deposit">
                            <input type="hidden" name="DepositID" id="DepositID" value="@DepositID" />
                            <input type="hidden" name="LastAmount" id="LastAmount" value="@ViewBag.LastAmount" />
                            <div class="form-group row @isHidden">
                                <label asp-for="CustomerID" class="col-md-2 col-form-label required"></label>
                                <div class="col-md-6 text-left">
                                    <input class="form-control" asp-for="CustomerID" value="@ViewBag.CustomerID">
                                    <span asp-validation-for="CustomerID" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Balance" class="col-md-2 col-form-label required"></label>
                                <div class="col-md-6 text-left">
                                    <input class="form-control" asp-for="Balance">
                                    <span asp-validation-for="Balance" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label"></label>
                                <div class="col-md-2">
                                    <input type="submit" value="Save" class="col-md-12 btn btn-primary" />
                                </div>
                                <div class="col-md-2">
                                    <a asp-action="Index" asp-route-id="" asp-controller="Deposit" class="col-md-12 btn btn-primary">
                                        Reset
                                    </a>
                                </div>
                            </div>
                        </form>

                        <table id="@Id" class="table table-striped table-bordered dt-responsive nowrap siteTable">
                            <thead>
                                <tr>
                                    <th width="05%">
                                        Sl
                                    </th>
                                    <th width="15%">
                                        @Html.DisplayNameFor(model => model.CustomerID)
                                    </th>
                                    <th width="30%">
                                        @Html.DisplayNameFor(model => model.LastAmount)
                                    </th>
                                    <th width="35%">
                                        Balance
                                    </th>
                                    <th width="15%">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in @DepositList)
                                {
                                    <tr>
                                        <td>
                                            @SerialNo
                                            <input type="hidden" id="hiddenCustomerID" value="@item.CustomerID" />
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CustomerID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LastAmount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Balance)
                                        </td>
                                        <td>
                                            <a title="Edit" data-toggle="modal" data-target="#editDepositModal" id="editDepositDetails">
                                                <span class="glyphicon glyphicon-pencil text-primary"></span>
                                            </a>

                                            @*<a title="Delete" data-toggle="modal" data-target="#DepositModal_@item.CustomerID">
                                                         <span class="glyphicon glyphicon-trash text-danger"></span>
                                                     </a>
                                                     @await Html.PartialAsync("_DeleteConfirmPartial", new ModelData
                                                {
                                                    Title = "deposit advance",
                                                    ControllerName = "Deposit",
                                                    ActionName = "Delete",
                                                    ID = @item.CustomerID,
                                                    ModalIDName = "DepositModal_" + @item.CustomerID
                                                })*@
                                        </td>
                                    </tr>
                                    SerialNo++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editDepositModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Deposit Advance Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" asp-action="Index" asp-controller="Deposit">
                    <input type="hidden" name="DepositID" id="DepositID" class="DepositID" />
                    <input type="hidden" name="LastAmount" id="LastAmount" class="LastAmount" />
                    <input type="hidden" name="CustomerID" id="CustomerID" class="CustomerID" />
                    <div class="form-group row">
                        <label asp-for="Balance" class="col-md-4 col-form-label required"></label>
                        <div class="col-md-6 text-left">
                            <input class="form-control Balance" asp-for="Balance">
                            <span asp-validation-for="Balance" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label"></label>
                        <div class="col-md-4">
                            <input type="submit" value="Save" class="col-md-12 btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        var depositAdvance = (function () {
            function getDepositAdvanceDetails() {
                $('.siteTable').on('click', 'tbody tr #editDepositDetails', function () {
                    var customerCID = $(this).closest('tr').find('#hiddenCustomerID').val();
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("GetDepositAdvanceDetails")',
                        data: { customerCID: customerCID },
                        success: function (res) {
                            $('.DepositID').val(1);
                            $('.CustomerID').val(res.customerID);
                            $('.Balance').val(res.balance);
                            $('.LastAmount').val(res.lastAmount);
                        }
                    });
                });
            }

            return {
                getDepositAdvanceDetails: getDepositAdvanceDetails
            }
        })();

        $(document).ready(function () {
            depositAdvance.getDepositAdvanceDetails();
        });
    </script>
}